html, body {
	height: 100%;
  background-color: #051e3e;
  text-align: center;
  margin: 2em auto;
}

* {
	font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 8px;
}


h1 {
  margin: 8px 0;
}

ul {
  list-style: none;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  border-radius: 5px 2px;
  margin: 8px 0;
}

img {
    width: 150px;
  }
  
  img.rounded-corners {
    border-radius: 30px;
  }

.header {
    text-align: center;
    margin: 1em 260px 0px 260px;
    padding: 2em 1em 2em 1em;
    border-radius: 5px;
    background-color: #651e3e;  
    border: solid #adcbe3  3px;
}

.h1-header {
    font-family: impact;
    color: #bbbbbb;
    font-size: 3em;
  }

.App {
    background-color: #bbbbbb;
    margin: 5px 253px 15px 253px;
    padding: 15px 2em 2em 2em;
    border-radius: 5px;
    font-size: 2sem;
    font-family: impact;
    border: solid #adcbe3 3px;
}
